<div>
    <span>nome: {{cliente.nome}}</span>
</div>
<div>
    <span>cpf: {{cliente.cpf}}</span>
</div>
<div>
    <span>cep: {{cliente.cep}}</span>
</div>
<div>
    <span>rua: {{cliente.rua}}</span>
</div>
<div>
    <span>casa: {{cliente.casa}}</span>
</div>
<div>
    <span>bairro: {{cliente.bairro}}</span>
</div>
<div>
    <span>cidade: {{cliente.cidade}}</span>
</div>
<div>
    <span>estado: {{cliente.estado}}</span>
</div>
<div>
    <span>complemento: {{cliente.complemento}}</span>
</div>
<div>
    <span>fones:</span>
    <span ng-repeat='fone in cliente.fones track by $index'> {{fone.num}} - {{fone.tipo}}</span>
</div>
<div>
    <span>email: </span>
    <span ng-repeat='email in cliente.emails track by $index'>{{cliente.emails[$index]}}</span>
</div>
<div>
    <button ng-click='voltar()' class='btn btn-danger btn-block'>Voltar</button>
</div>
