<table class="table table-striped">
    <tr>
        <th>nome</th>
        <th>email</th>
        <th>fone</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tr ng-repeat='cliente in clientes track by $index'>
        <td>{{cliente.nome}}</td>
        <td>{{cliente.email}}</td>
        <td>{{cliente.fone[0].num}}</td>
        <td><a href="" ng-click='mostrar(cliente)'>mostrar</a></td>
        <td><a ng-show="{{globals.currentUser.user=='admin'}}" href="" ng-click="editar(cliente)">editar</a></td>
        <td><a ng-show="{{globals.currentUser.user=='admin'}}" href="" ng-click="excluir(cliente)">excluir</a></td>
    </tr>
    <tr>
        <td colspan="6" ng-show="{{globals.currentUser.user=='admin'}}">
            <button class="btn btn-primary btn-block" ng-click='novoCliente()'>novo cliente</button>
        </td>
    </tr>
    <tr>
        <td colspan="6">
            <button class="btn btn-secondary btn-block" ng-click='logout()'>Logout<a>
        </td>
    </tr>
</table>