<form name="form">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>nome</label>
            <input type="text" name='nome' class="form-control" minlength="3" maxlength="100" ng-model='cliente.nome'
                name="nome" required>
            <span class="text-danger" ng-show="form.nome.$touched && form.nome.$error.required">O campo nome é
                obrigatório</span>
            <span class="text-danger" ng-show="form.nome.$touched && form.nome.$error.minlength">O campo nome deve ter
                no mínimo 3 caracteres</span>
            <span class="text-danger" ng-show="form.nome.$touched && form.nome.$error.maxlength">O campo nome deve ter
                no máximo 100 caracteres</span>
        </div>
        <div class="form-group col-md-6">
            <label>cpf</label>
            <input type="text" name="cpf" class="form-control" ng-model="cliente.cpf" ui-mask='999.999.999-99' required>
            <span class="text-danger" ng-show="form.cpf.$touched && form.cpf.$error.required">O campo cpf é
                obrigatório</span>
        </div>

        <div class="form-group col-md-6">
            <label>Cep:</label>
            <input name="cep" type="text" name="cep" id="cep" size="10" value="" maxlength="9"
                onblur="pesquisacep(this.value);" class="form-control" ng-model='cliente.cep' required />
            <span class="text-danger" ng-show="form.cep.$touched && form.cep.$error.required">O campo cep é
                obrigatório</span>
        </div>
        <div class="form-group col-md-6">
            <label>Rua:</label>
            <input name="rua" type="text" name="rua" id="rua" class="form-control" ng-model='cliente.rua' required />
            <span class="text-danger" ng-show="form.rua.$touched && form.rua.$error.required">O campo rua é
                obrigatório</span>
        </div>
        <div class="form-group col-md-6">
            <label>casa:</label>
            <input name="casa" type="text" name="casa" class="form-control" ng-model='cliente.casa' required />
            <span class="text-danger" ng-show="form.casa.$touched && form.casa.$error.required">O campo casa é
                obrigatório</span>
        </div>
        <div class="form-group col-md-6">
            <label>Bairro:</label>
            <input name="bairro" type="text" name="bairro" id="bairro" class="form-control" ng-model='cliente.bairro'
                required />
            <span class="text-danger" ng-show="form.bairro.$touched && form.bairro.$error.required">O campo bairro é
                obrigatório</span>
        </div>
        <div class="form-group col-md-6">
            <label>Cidade:</label>
            <input name="cidade" type="text" name="cidade" id="cidade" class="form-control" ng-model='cliente.cidade'
                required />
            <span class="text-danger" ng-show="form.cidade.$touched && form.cidade.$error.required">O campo cidade é
                obrigatório</span>
        </div>
        <div class="form-group col-md-6">
            <label>Estado:</label>
            <input name="uf" type="text" name="uf" id="uf" class="form-control" ng-model='cliente.estado' required />
            <span class="text-danger" ng-show="form.uf.$touched && form.uf.$error.required">O campo estado é
                obrigatório</span>
        </div>
        <div class="form-group col-md-12">
            <label>Complemento</label>
            <input type="text" class="form-control" name="complemento" ng-model="cliente.complemento">
        </div>


        <div class="form-group col-md-12">
            <label>Fone</label>

            <div ng-show="fones[0].tipo == 'celular'">
                <input  type="text" class="form-control" ng-model='fones[0].num' ui-mask="(999) 99999-9999" required>

            </div>
            <div ng-show="fones[0].tipo != 'celular'">
                <input  type="text" class="form-control" ng-model='fones[0].num' ui-mask="(999) 9999-9999">
            </div>
            <select ng-model='fones[0].tipo' ng-options="tipo for tipo in tipo"></select>
            <a class="btn btn-success" ng-click="campoFone()">+</a>
        </div>
        <div ng-repeat='fone in newFoneItem track by $index' >
                <div ng-show="fones[$index+1].tipo == 'celular'">
                    <input  type="text" class="form-control" ng-model='fones[$index+1].num' ui-mask="(999) 99999-9999" required>
    
                </div>
                <div ng-show="fones[$index+1].tipo != 'celular'">
                    <input  type="text" class="form-control" ng-model='fones[$index+1].num' ui-mask="(999) 9999-9999">
                </div>
                <select ng-model='fones[$index+1].tipo' ng-options="tipo for tipo in tipo"></select>
                <a href="" ng-click='removerFone($index)' class="btn btn-danger">X</a>
            </div>
        </div>

        <div class="form-group col-md-12">
            <label>Email</label>
            <input type="email" class="form-control" ng-model='cliente.emails[0]' required>
            <a class="btn btn-success" ng-click="campoEmail()">+</a>
        </div>
        <div ng-repeat='email in newEmailItem track by $index'>
            <div id='email{{$index}}'>
                <input type='text' ng-model='values[$index]'>
                <a href="" ng-click='removerEmail($index)' class="btn btn-danger">X</a>
            </div>
        </div>

        <div class="form-group col-md-12">
            <button class="btn btn-block btn-primary" ng-click='salvar(cliente)'
                ng-disabled='form.$invalid'>Cadastrar
                cliente</button>
            <button class="btn btn-danger btn-block" ng-click='voltar()'>voltar</button>
        </div>
    </div>

</form>